# Python Datatype

Variables can store data of different types, and different types can do different things.

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

type() function is used to check the datatype

#  1. Python Numbers

There are three numeric types in Python:

int  : it is a whole number, positive or negative, without decimals, of unlimited length
    
float : it is a number, positive or negative, containing one or more decimals.
    
complex : Complex numbers are written with a "j" as the imaginary part

In [3]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
# Random Number :Python does not have a random() function to make a random number, 
# but Python has a built-in module called random that can be used to make random numbers.

import random

print(random.randrange(1,10))

5

# 2. Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

In [13]:
print("Hello")
print('Hello')

Hello
Hello

In [14]:
#Assigning a string to a variable
a = "Hello"
print(a)

Hello

In [16]:
# assigning a multiline string to a variable 
a = """Python is a popular programming language.
It was created by Guido van Rossum, 
and released in 1991. """
print(a)

Python is a popular programming language.
It was created by Guido van Rossum,
and released in 1991.

In [17]:
#Getting the character at position 1, In python the first character has the position 0
a = "Hello, World!"
print(a[1])

e

In [18]:
#To get the length of a string, use the len() function.
a = "Hello, World!"
print(len(a))

13

In [20]:
# To check if a certain phrase or character is present in a string, we can use the keyword in

txt = "The best things in life are free!"
print("free" in txt)

True

In [21]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [22]:
# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [23]:
# Slicing Strings : Specify the start index and the end index, separated by a colon, to return a part of the string.
# give the characters from position 2 to position 5 (not included)
b = "Hello, World!"
print(b[2:5])

llo

In [24]:
#By leaving out the start index, the range will start at the first character
b = "Hello, World!"
print(b[:5])

Hello

In [25]:
# By leaving out the end index, the range will go to the end
b = "Hello, World!"
print(b[2:])

llo, World!

In [26]:
# negative indexes to start the slice from the end of the string
b = "Hello, World!"
print(b[-5:-2])

orl

In [28]:
# to inverse the string
print(b[::-1])

!dlroW ,olleH

In [29]:
#strings modification
#upper() method returns the string in upper case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [30]:
# lower() method returns the string in lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [32]:
#strip() method removes any whitespace from the beginning or the end
a = " Hello, World! "
print (a)
print(a.strip()) # returns "Hello, World!"

 Hello, World!
Hello, World!

In [33]:
#replace() method replaces a string with another string
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [35]:
#split() method returns a list where the text between the specified separator becomes the list items
a = "Hello, World!"
print(a)
print(a.split(","))

Hello, World!
['Hello', ' World!']

In [37]:
#To concatenate, or combine, two strings you can use the + operator.
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [38]:
# format() method to insert numbers into strings
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [39]:
#another method used is f' string method
quantity = 3
itemno = 567
price = 49.95
print(f"I want {quantity} pieces of item {itemno} for {price} dollars.")

I want 3 pieces of item 567 for 49.95 dollars.

# 3. Booleans

Booleans represent one of two values: True or False.

In [40]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# 4. Operators

Operators are used to perform operations on variables and values

Arithmetic operators :  to perform common mathematical operations

Name	Example

Addition	x + y	
Subtraction	x - y	
Multiplication	x * y	
Division	x / y	
Modulus	x % y	
Exponentiation	x ** y	
Floor division	x // y

Assignment operators : used to assign values to variables

e.g = , += , -= , *= , /= etc

Comparison operators

== , !=, >, <, >=, <=

Logical operators

and - Returns True if both statements are true
or - Returns True if one of the statements is true
not - Reverse the result, returns False if the result is true

Identity operators

is  -Returns True if both variables are the same object

is not- Returns True if both variables are not the same object

Membership operators

in - Returns True if a sequence with the specified value is present in the object

not in - Returns True if a sequence with the specified value is not present in the object