# Set

Sets are used to store multiple items in a single variable.

Set items are unordered, unchangeable, and do not allow duplicate values.

Sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [2]:
#The values True and 1 are considered the same value in sets, and are treated as duplicates
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [5]:
# len() function used to give the length of set, type() to check the data type 
thisset = {"apple", "banana", "cherry"}

print(len(thisset))
print(type(thisset))

3
<class 'set'>

In [6]:
#set() constructor to make a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [7]:
# accessing set through for loops
thisset = set(("apple", "banana", "cherry"))
for i in thisset:
    print(i)

cherry
banana
apple

In [8]:
#Check if "banana" is present in the set
print("banana" in thisset)

True

In [9]:
# add() method used to add an item to a set
thisset = {"apple", "banana", "cherry"}

thisset.add("choco")

print(thisset)

{'cherry', 'banana', 'choco', 'apple'}

In [11]:
# update() used to add items from another set into the current set
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'pineapple', 'banana', 'papaya', 'cherry', 'mango', 'apple'}

In [20]:
#update() method does not have to be a set, it can be any iterable object
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
mytuple = ("melon", )
thisset.update(mylist)
thisset.update(mytuple)
print(thisset)

{'melon', 'kiwi', 'banana', 'cherry', 'orange', 'apple'}

In [21]:
#remove an item in a set, use the remove(), or the discard()
print(thisset)
thisset.remove("kiwi")
print(thisset)

{'melon', 'kiwi', 'banana', 'cherry', 'orange', 'apple'}
{'melon', 'banana', 'cherry', 'orange', 'apple'}

In [22]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [23]:
#clear() method empties the set
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

# SET JOIN

In [24]:
#union() method returns a new set with all items from both sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

join= set1.union(set2)
print(join)

{1, 'c', 2, 3, 'a', 'b'}

In [27]:
#update() method inserts the items in set2 into set1
#Both union() and update() will exclude any duplicate items.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'c', 2, 3, 'a', 'b'}

In [28]:
#intersection_update() method will keep only the items that are present in both sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,"a","b"}

set1.intersection_update(set2)
print(set1)

{'a', 'b'}

In [29]:
#intersection() method will returns a new set with items that are present in both sets

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,"a","b"}
set3 = set1.intersection(set2)
print(set3)

{'a', 'b'}

In [30]:
#symmetric_difference_update() method will keep only the elements that are NOT present in both sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,"a","b"}
set1.symmetric_difference_update(set2)
print(set1)

{1, 'c', 2, 3}

In [32]:
#symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,"a","b"}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 'c'}

# Method used in set

Method	                        Description
add()	                        Adds an element to the set
clear()	                        Removes all the elements from the set
copy()	                        Returns a copy of the set
difference()	                Returns a set containing the difference between two or more sets
difference_update()	            Removes the items in this set that are also included in another, specified set
discard()	                    Remove the specified item
intersection()	                Returns a set, that is the intersection of two other sets
intersection_update()           Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	                Returns whether two sets have a intersection or not
issubset()	                    Returns whether another set contains this set or not
issuperset()	                Returns whether this set contains another set or not
pop()	                        Removes an element from the set
remove()	                    Removes the specified element
symmetric_difference()	        Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	                        Return a set containing the union of sets
update()	                    Update the set with the union of this set and others