# Tuple

Tuples are used to store multiple items in a single variable

A tuple is a collection which is ordered and unchangeable. i.e unmutable

Tuples are written with round brackets()

Tuple may have duplicate item

In [4]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
<class 'tuple'>

In [5]:
#len() function is used to find the lenghth of the tuple
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(len(thistuple))

5

In [6]:
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [7]:
#tuple() constructor to make a tuple.
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [8]:
#Print the second item in the tuple
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple[1])

banana

In [9]:
#Print the last item of the tuple using negative index
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple[-1])

cherry

In [11]:
#Print the range item of the tuple
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple[1:4])

#similary we can do with range from starting, to end and negative indexing also

('banana', 'cherry', 'apple')

In [12]:
#To determine if a specified item is present in a tuple use the in keyword
thistuple = ("apple", "banana", "cherry")
if 'cherry' in thistuple:
    print("yes it is")

yes it is

In [13]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [17]:
#appending a data is not possible in a tuple, so first we need to convert in list and after append,
#we need to change back to tuple
x = ("apple", "banana", "cherry")
y=list(x)
y.append("papaya")
x=tuple(y)
print(x)
print(type(x))

('apple', 'banana', 'cherry', 'papaya')
<class 'tuple'>

In [18]:
# Another option is to create a tuple and add the tuple to existing one
x = ("apple", "banana", "cherry")
y = ("ornges", )
x =x+y
print(x)

('apple', 'banana', 'cherry', 'ornges')

In [19]:
# similarly for removing item from tuple  we need to change its dtype first
x = ("apple", "banana", "cherry")
y=list(x)
y.remove("banana")
x=tuple(y)
print(x)
print(type(x))

('apple', 'cherry')
<class 'tuple'>

In [20]:
#to extract the values back into variables called unpacking. \
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [21]:
#If the number of variables is less than the number of values,
# you can add an * to the variable name and the values will be assigned to the variable as a list

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [24]:
#Iterate through the items and print the values of tuple using for loop
thistuple = ("apple", "banana", "cherry")
for i in thistuple:
    print(i)

apple
banana
cherry

In [25]:
#Iterate through the items index and print the values of tuple using for loop
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(i)

0
1
2

#methods in tuple
Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [35]:
thistuple = ("apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry","apple")
print(thistuple.count("apple"))
print(thistuple.index("banana"))

4
1