In [1]:
#Python Program to Add Two Numbers

num1= float(input("Please enter 1st no : "))
num2= float(input("Please enter 2nd no : "))

add= num1 + num2

print(f"sum of two digit is {add}")

Please enter 1st no : 12
Please enter 2nd no : 11
sum of two digit is 23.0

In [3]:
#Python Program to Find the Square Root

num=float(input("please enter the number"))
sq_rt= round(num**0.5,2)

print(f" the squareroot of {num} is {sq_rt} ")

please enter the number10
 the squareroot of 10.0 is 3.16

In [9]:
#Python Program to find the area of triangle s = (a + b + c) / 2, area = (s*(s-a)*(s-b)*(s-c)) ** 0.5

s1=float(input("enter the  1st side "))
s2=float(input("enter the  2nd side "))
s3=float(input("enter the  3rd side "))

p=(s1+s2+s3)/2

area = round((p*(p-s1)*(p-s2)*(p-s3))**.5,2)

print(f"the area of triangle is {area}")

enter the  1st side 10
enter the  2nd side 10
enter the  3rd side 10
the area of triangle is 43.3

In [11]:
#Python Program to Swap Two Variables

num1= float(input("Please enter 1st no : "))
num2= float(input("Please enter 2nd no : "))

print(f"the value are {num1} and {num2}")

temp= num1
num1= num2
num2 = temp

print(f"the swapped value are {num1} and {num2}")

Please enter 1st no : 10
Please enter 2nd no : 20
the value are 10.0 and 20.0
the swapped value are 20.0 and 10.0

In [26]:
#Program to check range of number is prime or not

num=int(input("Enter the number "))

for i in range(2,num):
    if(i <= 1):
        print("Please enter another no")
    elif(i>2 and i % 2 !=0 and i % 3 !=0):
        print(f"{i}  no is prime no")
    else:
        print(f" {i} not a prime no")

Enter the number 6
 2 not a prime no
 3 not a prime no
 4 not a prime no
5  no is prime no

In [28]:
#Factorial of a Number using Loop

num=int(input("Enter the number "))
fact=1
for i in range (1,num+1):
    fact=fact*i
print(f" the factorial of {num} is {fact} ")

Enter the number 4
 the factorial of 4 is 24

In [44]:
#Factorial of a Number using recursion

num=int(input("Enter the number "))
def factor(x):
    if x == 1:
        return 1
    else:
         return (x * factor(x-1))
        
result = factor(num)
print("The factorial of", num, "is", result)

Enter the number 4
The factorial of 4 is 24

In [48]:
# Multiplication table in Python

num=int(input("Enter the number which table you want "))
print(f"the table for {num} is ")
for i in range(1,11):
    print(f'{num} X {i} = {num * i}'  )

Enter the number which table you want 9
the table for 9 is
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [80]:
#Python Program to Make a Simple Calculator

def add(x,y):
    return(x + y)

def sub(x,y):
    return(x - y)

def mul(x,y):
    return(x * y)

def div(x,y):
    return(x / y)
         
   
    
num1= int(input("Please enter 1st no : "))
num2= int(input("Please enter 2nd no : "))

operation =input(f"enter the operation you want:add for addition,sub for subtraction,mul for multiply,div for divide")
if operation == 'add':
    print(f" Addition is {add(num1,num2)}")
elif operation == 'sub':
    print(f" Subtraction is {sub(num1,num2)}")
elif operation == 'mul':
    print(f" Multiplication is {mul(num1,num2)}")
else:
    print(f" Division is {div(num1,num2)}")

Please enter 1st no : 10
Please enter 2nd no : 20
enter the operation you want:add for addition,sub for subtraction,mul for multiply,div for divideadd
 Addition is 30

In [28]:
arr=[2,3,6,6,5]
set_arr= set(arr)
list_arr= list(set_arr)
sort_arr= list_arr.sort(reverse = True)
print(list_arr[1])

5

1 2 3 4 5 6

ValueError: invalid literal for int() with base 10: '1 2 3 4 5 6'

In [27]:
n = int(input())
arr = map(int, input().split())
print(list(arr))
#list_arr = list(arr)
#list_arr.sort(reverse=True)
#print(list_arr)
#for i in list_arr:
   # if i != list_arr[0]:
      #  print(i)
       #     break

4
2 4 5 6
[2, 4, 5, 6]

In [34]:
n = int(input())
arr = map(int, input().split())
list_arr= list(arr)
print(list_arr)
set_arr= set(list_arr)
print(set_arr)
list_arr1= list(set_arr)
print(list_arr1)
list_arr1.sort(reverse=True) 
print(list_arr1)
print(list_arr1[1])

5
2 3 6 6 5
[2, 3, 6, 6, 5]
{2, 3, 5, 6}
[2, 3, 5, 6]
[6, 5, 3, 2]
5

In [72]:
student=[]
for _ in range(int(input())):
    name = input()
    score = float(input())
    student.append([name,score])
    student.sort()

marks=[]
for i in student:
    marks.append(i[1])
#print(marks)
marks_set=set(marks)
list_marks= list(marks_set)
list_marks.sort()

second_lowest= list_marks[1]
for i in student:
    if(i[1] == second_lowest):
        print(i[0])

5
a
21
d
23
b
23
c
25
e
27
b
d

In [55]:
student

[['sita', 31.0], ['ram', 43.0], ['lax', 35.0]]

In [63]:
student.sort(key=lambda x :x[1])

In [64]:
student

[['sita', 31.0], ['lax', 35.0], ['ram', 43.0]]

In [67]:
marks=[]
for i in student:
    marks.append(i[1])
print(marks)
marks_set=set(marks)
list_marks= list(marks_set)
list_marks.sort()

[31.0, 35.0, 43.0]

In [68]:
second_lowest= list_marks[1]

In [70]:
for i in student:
    if(i[1] == second_lowest):
        print(i[0])

lax

In [80]:
def split_and_join(line):
    a=line.split(" ")
    b='-'.join(a)
    return b

In [81]:
split_and_join("I am intelligent")

'I-am-intelligent'

In [96]:
from itertools import groupby
a=input()
gr=groupby(a)
for key, group in gr:
    cnt = len(list(group))
    print(f'({cnt}, {key})', end = ' ')

xscsgajhsdhd
(1, x) (1, s) (1, c) (1, s) (1, g) (1, a) (1, j) (1, h) (1, s) (1, d) (1, h) (1, d)

In [94]:
for key, group in gr:
    cnt = len(list(group))
    print(f'({cnt}, {key})')

In [103]:
for i in range(1,int(input())):
    print(i*((10**i-1)//9))

5
1
22
333
4444

In [117]:
for i in range(1,int(input())):
    for j in range (i):
        print(i ,end='')
    print('')

6
1
22
333
4444
55555

In [121]:
n=int(input())
for i in range(1,n):
    for j in range (n-i):
        print(n-i ,end='')
    print('')

5
4444
333
22
1

In [122]:
n=int(input())
for i in range(1,n):
    for j in range (n-i):
        print(i ,end='')
    print('')

5
1111
222
33
4

In [125]:
def solve(s):
    return s.title()

In [126]:
solve("aayush aswal")

'Aayush Aswal'

In [130]:
n = int(input())
s = set(map(int, input().split()))

9
1 2 3 4 5 6 7 8 9 10

In [131]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [147]:
s.pop()

3

In [145]:
s.remove(5)

In [148]:
s

{4, 10}

In [135]:
s.discard(9)

In [136]:
s

{2, 3, 4, 5, 6, 7, 8, 10}

In [149]:
s.discard(5)

In [150]:
s

{4, 10}

In [139]:
s.remove(7)

In [142]:
s

{3, 4, 5, 6, 10}